{% include doctype.html %}
<head>
{% include head.html %}
</head>

<body id="post" {% if page.image.feature %}class="feature"{% endif %}>

{% include browser-upgrade.html %}
{% include navigation.html %}

{% if page.image.feature %}
<div class="entry-header">
  {% if page.image.credit %}<div class="image-credit">Image source: {% if page.image.creditlink %}<a href="{{ page.image.creditlink }}">{% endif %}{{ page.image.credit }}{% if page.image.creditlink %}</a>{% endif %}</div><!-- /.image-credit -->{% endif %}
  <div class="entry-image">
    <img src="/images/{{ page.image.feature }}" alt="{{ page.title }}">
  </div><!-- /.entry-image -->
</div><!-- /.entry-header -->
{% endif %}

<div id="main" role="main">
  <article class="hentry">
    <header class="header-title">
      <div class="header-title-wrap">
        {% if page.external_url %}
          <h1 class="entry-title"><a href="{{ page.external_url }}">{{ page.title }}</a></h1>
        {% else %}
          <h1 class="entry-title"><a href="{{ root_url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
        {% endif %}
        <h2>{{ page.date | date: "%B %d, %Y" }}</h2>
      </div><!-- /.header-title-wrap -->
    </header>
    <div class="entry-content">
      {{ content }}
      <footer class="entry-meta">
        <span class="entry-tags">{% for tag in page.categories %}<a href="{{ root_url }}/tags/#{{ tag | cgi_encode }}" title="Pages tagged {{ tag }}" class="tag">{{ tag }}</a>{% endfor %}</span>
        <span><a href="{{ root_url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a> was published on <span class="entry-date date published updated"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></span></span>
        {% if page.modified %}(revised: <span class="entry-date date modified"><time datetime="{{ page.modified }}">{{ page.modified | date: "%m/%d/%Y" }}</time></span>){% endif %}
        <span class="author vcard"><span class="fn"><a href="{{ site.about }}" title="About {{ site.author }}">{{ site.author }}</a></span></span>
        {% if page.share %}<div class="social-share">
          <ul class="socialcount socialcount-small inline-list">
            <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ root_url }}{{ page.url }}" title="Share on Facebook"><span class="count"><i class="fa fa-facebook-sign"></i> Like</span></a></li>
            <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{ root_url }}{{ page.url }}" title="Share on Twitter"><span class="count"><i class="fa fa-twitter-sign"></i> Tweet</span></a></li>
            <li class="googleplus"><a href="https://plus.google.com/share?url={{ root_url }}{{ page.url }}" title="Share on Google Plus"><span class="count"><i class="fa fa-google-plus-sign"></i> +1</span></a></li>
          </ul>
        </div><!-- /.social-share -->{% endif %}
      </footer>
    </div><!-- /.entry-content -->
    {% if site.related_posts.size %}
      <div class="read-more">
        {% for post in site.related_posts limit:1 %}
          <div class="read-more-header">
            <a href="{{ root_url }}{{ post.url }}" class="btn">Read More</a>
          </div><!-- /.read-more-header -->
          <div class="read-more-content">
            <h3><a href="{{ root_url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
            <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 140 }}&hellip;{% endif %} <a href="{{ root_url }}{{ post.url }}"> Continue reading</a></p>
          </div><!-- /.read-more-content -->
        {% endfor %}
        <div class="read-more-list">
          {% for post in site.related_posts limit:2 offset:1 %}
            <div class="list-item">
              <h4><a href="{{ root_url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h4>
              <span>Published on {{ post.date | date: "%B %d, %Y" }}</span>
            </div><!-- /.list-item -->
          {% endfor %}
        </div><!-- /.read-more-list -->
      </div><!-- /.read-more -->
    {% endif %}
    {% if site.disqus_short_name and page.comments %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include custom/after_footer.html %}	        
{% include scripts.html %}	        

</body>
</html>
