// UTILITY MIXINS
// --------------------------------------------------

// Clearfix
// --------------------
// For clearing floats like a boss h5bp.com/q
@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// Webkit-style focus
// --------------------
@mixin tab-focus() {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Center-align a block level element
// ----------------------------------
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// TYPOGRAPHY
// --------------------------------------------------
// Just the REMs
// -------------
@mixin font-rem($size) {
  font-size: 1px * $default-fs-mult * $size * $doc-font-root;
  font-size: 1rem * $default-fs-mult * $size;
}

@mixin line-height($height) {
  line-height: $height * $default-lh-mult;
}

@mixin margin-after() {
  margin-bottom: 1px * $doc-margin * $doc-font-root;
  margin-bottom: 1rem * $doc-margin;
}

// Make visuallyhidden focusable with a keyboard
.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus { 
position : static;
clip : auto; 
height : auto; 
width : auto;
margin : 0; 
overflow: visible; }
