// Figures and images
// --------------------------------------------------
figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  @include clearfix();
  img {
    margin-bottom: 10px;
  }
  a { 
    img {
      @include translate(0, 0);
      @include transition-duration(0.25s);
      &:hover {
        @include translate(0, -5px);
        box-shadow: 0 0 10px rgba($base-color,0.20);
      }
    }
  }
  &.half {
    @media #{$large} {
      img {
        width: 310px;
        float: left;
        margin-right: 10px;
      }
      figcaption {
        clear: left;
      }
    }
  }
  &.third {
    @media #{$large} {
      img {
        width: 200px;
        float: left;
        margin-right: 10px;
      }
      figcaption {
        clear: left;
      }
    }
  }
}
svg:not(:root) {
  overflow: hidden; 
}

img.left, img.right {
  margin-bottom: 0.5rem;
  margin-top:    0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background: #eee;
}
img.left {
  float: left;
  margin-right: 1.5rem
}
img.right {
  float: right;
  margin-left: 1.5rem
}

figure.code figcaption {
  padding-top: 0px;
  position: relative;
  text-align: center;
  font-size: 13px;
  line-height: 2em;
  font-weight: normal;
  margin-bottom: 0;
  @include border-top-radius(5px);
  background-color: #aaaaaa;
  text-shadow: #fff 0 1px 0;
  color: #777;
  @include background-image(linear-gradient(#ffffff,#f0f0f0 6%,#e5e5e5 90%,#dddddd));
  border: 1px solid #c5c5c5;
  border-top-color: #d5d5d5;
  border-bottom: 0;

  a {
    position: absolute;
    right: 0.8em;
    text-decoration: none;
    color: inherit;
    z-index: 1;
    padding-left: 3em;
  }

  a:hover {
    text-decoration: underline;
  }

  a:focus {
    outline: 0;
  }

}

figure.code .highlight {
  @include border-top-radius(0);
  overflow: scroll;
}
