---
layout: post-index
permalink: /categories/
title: Categories
description: "An archive of posts sorted by category."
image:
    feature: /images/threaded-blue-on-black.jpg
---

<ul class="entry-meta inline-list">
{% assign categories_list = site.categories %}  
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %} 
    	<li><a href="#{{ category }}" class="tag">{{ category }} <span>{{ site.categories[category].size }}</span></a></li>
    {% endfor %}
  {% else %}
    {% for category in categories_list %} 
    	<li><a href="#{{ category[0] }}" class="tag">{{ category[0] }} <span>{{ category[1].size }}</span></a></li>
    {% endfor %}
  {% endif %}
{% assign categories_list = nil %}
</ul>

{% for category in site.categories %} 
	<article>
	<h2 id="{{ category[0] }}">{{ category[0] }}</h2>
		<ul>
		{% assign pages_list = category[1] %}  
		{% for post in pages_list %}
			{% if post.title != null %}
			{% if group == null or group == post.group %}
      <li class="entry-title"><a href="{{ root_url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
			{% endif %}
			{% endif %}
		{% endfor %}
		{% assign pages_list = nil %}
		{% assign group = nil %}
		</ul>
	</article><!-- /.hentry -->
{% endfor %}
