// Here you can easily change your site's color scheme.
// To give it a try, uncomment some of the lines below, rebuild your blog,
// and see how it works.
// If you need a handy color picker try http://hslpicker.com

// ---------------------------------------------------------------------------
// Pygments colors. Uncomment and tweak if you'd like to slightly modify these
// values. You may also want to consider finding a different pygments theme.

//$pygray2: rgba(248,248,242,1);   // Punctionation, certain names
//$pygray1: rgba(208,208,208,1);   // Default foreground color
//$pygray0: rgba(143,144,138,1);   // Line numbers
//$pygray01: rgba(73,72,62,1);     // .hll background color
//$pygray02: rgba(39,40,34,1);     // Default background color
//$pybrown: rgba(117,113,94,1);    // Comments
//$pycyan: rgba(102,217,239,1);    // Constants and most keywords
//$pymagenta: rgba(150,0,80,1);    // Error text foreground
//$pydarkmagenta: rgba(30,0,16,1); // Error text background
//$pygreen: rgba(166,226,46,1);    // Functions, attributes, exceptions, etc.
//$pypink: rgba(249,38,114,1);     // Operators, etc.
//$pyviolet: rgba(174,129,255,1);  // Literals except strings, etc.
//$pyyellow: rgba(230,219,116,1);  // String and date literals, etc.
// ---------------------------------------------------------------------------

// ---------------------------------------------------------------------------
// General site colors

//$base-color				: #222;
//$body-color      	: #e8e8e8;
//$text-color      	: #222;
//$comp-color 	 		: adjust-hue($base-color, 180);
//$border-color    	: lighten($base-color,60);
//$white           	: #fff;
//$black           	: #000;
//$link-color 		  : #222;

// --------------------------------------------------
// Button colors

//$primary		: $base-color;
//$success		: #5cb85c;
//$warning		: #dd8338;
//$danger			: #C64537;
//$info				: #308cbc;
// ---------------------------------------------------------------------------
